* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}


body {
  font-family: open sans;
}


img {
  display: block;
  width: 100%;
}


.section-bg-color {
  background-color: v var(--main-light-bg) #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 40px 40px 40px;


}

.il {
  list-style: none;
}

.a {
  color: var(--main-font-color);
  text-decoration: none;
}

.home section-bg-color {
  background-color: var(--main-light-bg);

}

.container {
  padding: 12px 5px;
  width: 100%;
  margin: 0px auto;
  display: flex;
}

/*------------------------------------------------nav section---------------------------------------------*/

.logo ::after {
  content: " .";
  color: red;
  position: absolute;
}
.navbar-collapse {
    display: block !important;
}
.navbar-toggler {
    display: block; /* should be visible */
}

.dark-Mode input {
    display: none; /* OK for checkbox */
}




nav ul {
  font-size: 20px;
  font-weight: 800;

}

nav ul li {
  position: relative;
  overflow: hidden;
  padding: 10px;
}

.dark-mode input {
  display: none;

}

.toggle-label {
  cursor: pointer;
  font-size: 20px;
  position: relative;
}

.sun {
  display: none;
  color: #ffc107
}

.moon {
  color: #000;
}

#dark-toggle:checked+.toggle-label .moon {
  display: none;
}

#dark-toggle:checked+.toggle-label .sun {
  display: inline;
}

body.dark {
  background-color: #121212;
  color: #fff;
}

body.dark .section-bg-color {
  background-color: #1e1e1e;
}

body.dark p {
  color: #b5b5b5;
}



nav .fa-sun {
  display: none;
}

nav .fa-moon {
  color: #4f4f5a;
}



.toggle-label .fa-sun {
  display: none;
}

#dark-mode:checked + .toggle-label .fa-moon {
  display: none;
}

#dark-mode:checked + .toggle-label .fa-sun {
  display: inline;
  color: #ffc107;
}



/*--------------------------------------------------------------------------Home section--------------------*/
.home {
  min-height: 100vh;
  
}


.home .home-img img {
  max-width: 80%;
  filter: drop-shadow(4px 4px 9px #000a);
}

.home h1 {
 font-family: 'Amatic SC', cursive;
  font-size: 50px;
  font-weight: 600;
  
}

.section-bg-color {
  /*background-color: #f8f9fa;*/
  background-color: #eeeeee81;

}

.home p {
  color: #9f9f9f;
  max-width: 450px;
  margin: 20px 0;
  font-size: 20px;
  line-height: 1.6;
}

.vid-button {
  position: relative;
  text-decoration: none;
  font-weight: 600;
  color: #000;
  transition: 0.3s;
  padding-left: 40px;
  z-index: 999;
}

.vid-button:hover {
  color: #dc3545;
}

.vid-button .icons {
  width: 45px;
  height: 45px;
  border: 2px solid #dc3545;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  color: #dc3545;
  background-color: #fff;
  transition: 0.3s;
}

.vid-button:hover .icon {
  background-color: #dc3545;
  color: #fff;
}


/*hover animation*/

.home .home-img:hover img {
  animation: vibrate 0.2s infinite;
}

@keyframes vibrate {
  0% {
    transform: translate(0);
  }

  25% {
    transform: translate(2px, -2px);
  }

  50% {
    transform: translate(-2px, 2px);
  }

  75% {
    transform: translate(2px, 2px);
  }

  100% {
    transform: translate(0);
  }
}

/* -----------------------------Chefs-------------------*/
.chefs {
  padding: 80px 0;
  background-color: #ffffff;
  color: #33333394;
  margin-top: 30px;
}

.sections-header {
  text-align: center;
  margin-bottom: 60px;


}

.sections-header h2 span {
  color: red;
}

.sections-header   h3 {

  color: #000;
  font-size:20px;
  letter-spacing:14px 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
  

}

.sections-header h2 {
  font-size: 48px;
  font-family: 'Amatic SC', cursive;

}

.sections-header span {
  color: #0e0d0d;

}

.cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;

}


.cards .card {
  flex: 0 0 calc(33.333% - 20px);
  box-sizing: border-box;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease;
}

.cards .card:hover {
  transform: translateY(-5px);
}

.cards .card img {
  width: 100%;
  display: block;

}


.card {
  width: 350px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}

.card:hover {
  transform: translateY(-10px);
}

.card-img {
  position: relative;
  overflow: hidden;
}

.card-img img {
  width: 100%;
  display: block;
  transition: 0.4s;
}

.card-img :hover {
  transform: scale(1.1);
}

.brands {
  position: absolute;
  top: 30px;
  right: -50px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10PX;
  transition: 0.4s;

}

.card:hover .brands {
  right: 15px;

}

.brands i {
  color: #7f7f90;
  cursor: pointer;
  transition: 0.3s;
}

.brands i:hover {
  color: #ce1212;


}

.card-text {
  padding: 20px;
}

.card-text h3 {
  margin-bottom: 5px;

}

.card-text span {
  font-size: 20px;
 
   color: #7f7f90;
}

.card-text p {
  font-style: italic;
  color: #7f7f90;
  /*margin-top: 10px;*/
   font-size: 20px;
  
}

@media (max-width: 992px) {
  .cards .card {
    flex: 0 0 calc(50% - 20px);


  }
}

@media (max-width: 576px) {
  .cards .card {
    flex: 0 0 100%;
  }
}

/*-----------------------Gallery section-------------*/
.gallery {
  padding: 80px 0;
  background-color: #eeeeee;

}



/* Header */
.sections-headers {
  text-align: center;
  margin-bottom: 60px;
}

.sections-headers h3 {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.sections-headers h2 {
  font-size: 48px;
  font-family: 'Amatic SC', cursive;
}

.high-light {
  color: red;
}

/* Image box */
.img-box {
  position: relative;
  overflow: hidden;
  height: 250px;
  border-radius: 6px;
}

/* Tall images */
.img-box.tall {
  height: 520px;
}

.img-box.tall-xl {
  height: 780px;
}

/* Image */
.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.img-box:hover img {
  transform: scale(1.1);
}

/* Overlay */
.meal-layer {
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0,0.65);
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  opacity: 0;
  transform: translateY(100%);
  transition: 0.4s ease;
}

.img-box:hover .meal-layer {
  opacity: 1;
  transform: translateY(0);
}

/* Text */
.meal-layer h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.meal-layer p {
  font-size: 14px;
  line-height: 1.6;
  max-width: 90%;
}

/* Mobile fix */
@media (max-width: 768px) {
  .img-box,
  .img-box.tall,
  .img-box.tall-xl {
    height: 260px;
  }
}


/*-------------------------CONTACT------------------------------*/
.contact {
  padding: 80px 0;
  background: #fff;
}

.contact .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


.sections-header {
  text-align: center;
  margin-top: 50px;
}

.sections-header h3 {
  font-size: 14px;
  letter-spacing: 2px;
  color: #7f7f90;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.sections-header h2 {
  font-size: 36px;
  font-family: 'Amatic SC', cursive;
}

/*----map------*/

.map iframe {
  width: 100%;
  height: 350px;
  border: 0;
  margin-bottom: 30px;
  display: block;

}

.contact-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}

.contact-record {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #f5f5f5;
  padding: 25px;


}

.contact-record:hover {
  transform: translateY(-5px);
}

.contact-record h3 {
  margin: 0;
  font-size: 18px;

}

.contact-record p {
  margin-top: 5px;
  font-size: 14px;
  color: #555;
}

.contact-record .icon {
  min-width: 50px;
  height: 50px;
  background: #ce1212;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 18px;
}

/*------------form-------------*/
.contact-inputs {
  background: #fff;
  padding: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);



}

.contact-inputs input,
.contact-inputs textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  margin-right: 200px;

  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
}

.contact-inputs button {
  background: #ce1212;
  color: white;
  padding: 15PX 40px;

  border: none;
  cursor: pointer;
  border-radius: 50px;

  margin: 20 auto 0;
  font-size: 15px;
  transition: 0.3s;

}

/*------footer----*/
/* Background Image */
.background-image {
  background: url('./IMG/footer.jpg') no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Footer overlay */
.footer {
  background: rgba(0, 0, 0, 0.966);
  color: white;
  padding: 60px 20px;
  width: 100%;
}

/* Container */
.footer .container {
  max-width: 1200px;
  margin: auto;
}

/* Footer content layout */
.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

/* Columns */
.part,
.part2 {
  flex: 1 1 300px;
}

/* Logo & Mealify text */
.footer-media-text {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-media-text img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

/* Social media icons */
.brands-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  color: white;
  border-top: 1px solid rgb(255, 255, 255);
  padding-top: 15px;
  margin-top: 15px;
  width: 90%;

}

.brands-icons i {
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;

}

.brands-icons i:hover {
  color: #e61414;
}

.brands-icons a {
  color: inherit;
  text-decoration: none;
}

/* Newsletter */
.footer-inputs {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
  width: 120%;

}

.footer-inputs input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 14px;

}

.footer-inputs button {
  padding: 10px 16px;

  border: none;
  background-color: #e61414;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  transition: background-color 0.3s;

}



.footer-inputs button i {
  color: white;
}

.footer-inputs button:hover {
  background-color: #ce1212;
}



.footer-inputs button:hover {
  background-color: #ce1212;
}

/* Quick Links */
.links {
  display: flex;
  gap: 40px;
  margin-top: 10px;
}

.links ul {
  list-style: none;
}

.links li {
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.links li:hover {
  color: #e61414;
}

.links i {
  margin-right: 5px;
}

/* Get in Touch */
.get-in-touch ul {
  list-style: none;
  line-height: 2;
}


.get-in-touch i {
  margin-right: 10px;
  color: #e61414;
}



/* Responsive */
@media screen and (max-width: 900px) {
  .footer-content {
    flex-direction: column;
    gap: 30px;
  }
}

/*--------------------------------------------------------------------------------*/


/* --------- Variables for light mode --------- */
:root {
  --nav-bg: #fff;
  --main-light-bg: #f5f5f5;
  --border-radius: 10px;
  --color-primary: #C17E1F;
  --color-secondary: #0048C4;
  --section-padding: 40px;
  --gap: 10px;
  --main-font-color: #212529;
  --second-font-color: #7f7f90;
  --third-font-color: #9f9f9f;
  --color-default: #f8f9fa;
}

/* --------- Toggle Sun/Moon Icons --------- */
nav.dark-mode input {
  display: none;
}

nav.dark-mode input:checked+.toggle-label .fa-moon {
  display: none;
}

nav.dark-mode input:checked+.toggle-label .fa-sun {
  display: inline-block;
  color: var(--main-font-color);
}

/* --------- Dark mode using :has --------- */
body:has(#dark-mode:checked) {
  --nav-bg: #171717;
  --main-light-bg: #252525;
  --border-radius: 25px;
  --color-primary: #C17E1F;
  --color-secondary: #0048C4;
  --section-padding: 40px;
  --gap: 10px;
  --main-font-color: white;
  --second-font-color: #7f7f90;
  --third-font-color: #9f9f9f;
  --color-default: #212529;

  background-color: var(--main-light-bg);
  color: var(--main-font-color);
}

/* --------- Example elements affected by dark mode --------- */
body:has(#dark-mode:checked) nav {
  background-color: var(--nav-bg);
}

body:has(#dark-mode:checked) .home .home-text .vid-button {
  color: var(--main-font-color);
}

body:has(#dark-mode:checked) .home .home-text .vid-button:hover {
  color: var(--color-primary);
}

body:has(#dark-mode:checked) .chefs .card {
  background-color: var(--nav-bg);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
  color: var(--third-font-color);
}

body:has(#dark-mode:checked) .chefs .card h3 {
  color: var(--main-font-color);
}

body:has(#dark-mode:checked) .contact input:focus,
body:has(#dark-mode:checked) .contact textarea:focus {
  border: 2px solid var(--color-primary);
  outline: none;
}

body:has(#dark-mode:checked) .contact .contact-record h3 {
  color: #ADADAD;
}

body:has(#dark-mode:checked) .contact .contact-record p {
  color: #fff;
}